/* Bootstrap Icon */

/* app */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }

/* Universal selector*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* custom variables */
:root{
  --primary: black;
  --secondary: rgb(255, 255, 255);
  --alternative: #74a57a;
  --mainBShadow: .4vw .3vw .3vw var(--alternative);    
}
body{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
/* select all imges */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
/* logo */
img[alt='logo']{
    width: 5rem;
}
/* wrapper */
:is(.wrapper){
  display: grid;
  grid-template-rows: auto minmax(100dvh, 100%) auto;
}
/* media query */
@media screen and (width < 800px) {
  #landing.row{
    display: block;
    height:auto;
  }
}